<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/config :: configFragment">
    <body>
        <header th:replace="fragments/header :: headerFragment"></header>

        <div class="col-md-12"></div>
        <div class="col-md-12"></div>
        <div class="col-md-12">
            <div class="container">
                <div>
                    <table class="table table-horizontal table-striped table-hover table-bordered">
                        <thead class="thead-strong">
                            <tr>
                                <th>번호</th>
                                <th>반려견 이름<th>
<!--                                <th>진단받은 질병</th>-->
                            </tr>
                        </thead>

                        <tbody id="tbody">
                            <tr th:each="dia : ${dias}">
                                <td></td>
                                <td th:text="${dia.getDog().getName()}"></td>
<!--                                <td><a th:href = "@{/member/chart/record/{id}(id = ${dia.getId()})}" th:text="${dia.getDog().getName()}"></a></td>-->
                                <td th:text="${dia.getDog().getSymptomCause()}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <script th:inline="javascript">
            const table = document.getElementsByTagName('tbody')[0],
                rows = table.getElementsByTagName('tr'),
                text = 'textContent' in document ? 'textContent' : 'innerText';

            let idx = rows.length;
            for (let i = 0; i < rows.length; i++){
                rows[i].children[0][text] = idx;
                idx -= 1;
            }
        </script>

        <footer th:replace="fragments/footer :: footerFragment"></footer>
    </body>
</html>
